<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="personel_kayıt.Properties.Settings.personelveritabaniConnectionString"
            connectionString="Data Source=DESKTOP-5R80TPD;Initial Catalog=personelveritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>